{% extends 'base_auth.html' %}

{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="background">
        <div class="text">
            <h1>Sign Up</h1>
            <p>Have Account? <a href="{% url 'login' %}">Sign In</a></p>
            <p>Forgot password? <a href="{% url 'request-password' %}">Reset Password</a></p>
        </div>
        <div class="box">
            <form class="form" action="{% url 'register' %}" method="post">
                {% include 'partials/messages.html' %}

                {% csrf_token %}

                <input type="email" class="email" placeholder="Email" name="email" id="emailField"
                       value="{{ fieldValues.email }}" required>
                <div class="emailFeedBackArea" style="display: none">
                </div>
                <input type="text" class="username" placeholder="Username" name="username" id="usernameField"
                       value="{{ fieldValues.username }}" required>
                <div class="invalid_feedback" style="display: none">
                </div>
                <input type="password" class="password" placeholder="Password" name="password" id="passwordField" required>
                <small class="float-right py-2 showPasswordToggle">SHOW</small>
                <input type="submit" class="button submit-btn" value="Sign Up">
            </form>
        </div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}
