{% extends 'base_auth.html' %}

{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="background">
        <div class="text">
            <h1>Reset pass</h1>
            <p>No Account? <a href="{% url 'register' %}">Sign Up</a></p>
            <p>Have Account? <a href="{% url 'login' %}">Sign In</a></p>
        </div>
        <div class="box">
            <form class="form" action="{% url 'request-password' %}" method="post">
                {% include 'partials/messages.html' %}

                {% csrf_token %}
                <input type="email" class="email" placeholder="Email" name="email" id="emailField"
                       value="{{ values.email }}" required>
                <input type="submit" class="button" value="Submit">
            </form>
        </div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}
