{% extends 'base_auth.html' %}

{% load static %}

{% block title %}
    Set Password
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="background">
        <div class="text">
            <h1>Set Password</h1>
            <p>No Account? <a href="{% url 'register' %}">Sign Up</a></p>
            <p>Have Account? <a href="{% url 'login' %}">Sign In</a></p>
        </div>
        <div class="box">
            <form class="form" action="{% url 'reset-user-password' uidb64 token %}" method="post">
                {% include 'partials/messages.html' %}

                {% csrf_token %}
                <input type="password" name="password" id="passwordField" class="password" placeholder="Password"
                       required>
                <small class="float-right py-2 showPasswordToggle">SHOW</small>
                <input type="password" name="password2" id="passwordField" class="password"
                       placeholder="Confirm Password"
                       required>
                <small class="float-right py-2 showPasswordToggle">SHOW</small>
                <input type="submit" class="button" value="Submit">
            </form>
        </div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}
